.start-background{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/935156fb-9579-4fc2-ad94-70680402b8ef/7eec8be2-105c-4ce6-b9d9-5ff1dae1042a/KR-ko-20230109-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height:760px;
}
.start-background::before{
    position:absolute;
    left:0;
    width:100%;
    height:760px;
    content: '';
    background: linear-gradient(to bottom, black, transparent);
}
.start-first{
    position:absolute;
    padding:50px;
    z-index: 1;
}
.start-language{
    width:90px;
    height:40px;
    border:2px solid white;
    background-color: black;
    color:white;
    margin-left: 1000px;
}
.start-login-btn{
    width:80px;
    height:40px;
}
.start-bar{
    padding:7px;
    background-color: #222;
}