.footer{
    background-color: black;
    padding:40px;
    color:#737373;
}
.footer-first{
    width:800px;
    height:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px auto;
}
.footer-first p{
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-list{
    margin-bottom: 10px;
    font-size: 12px;
}
.footer-second{
    width:800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px auto;
}
.second-fp{
    font-size: 13px;
    color:#737373;
    margin-top: 25px;
    margin-bottom: 25px;
}
.second-ap{
    font-size: 12px;
    color:#737373;
    margin-bottom: 0px;
}