.footer{
    background-color: black;
    padding:40px;
    color:#737373;
}
.footer-first{
    width:800px;
    height:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px auto;
}
.footer-first p{
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-list{
    margin-bottom: 10px;
    font-size: 12px;
}
.start-language{
    width:100px;
    height:40px;
    border:2px solid #737373;;
    background-color: black;
    color:#737373;
    margin-left: 1050px;
    display: flex;
}
.select-language{
    background-color: black;
    color:#737373;;
    border:0px;
}
.select-icon{
    color:#737373;
    margin-top:10px;
    margin-left:5px;
}