.signup-step-4 {
    width: 1000px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    margin-top: 20px;
}

.signup-step-4 b {
    margin-right: 5px;
    margin-left: 5px;
}

.signup-title-4 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.signup-check-wrap-4 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.signup-check-text2 {
    width: 1000px;
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.signup-check-text2 h5 {
    height: 30px;
    margin-left: 15px;
    vertical-align: top;
}

.signup3-icon {
    height: 30px;
    vertical-align: top;
}

.planform-logo-wrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.planform-logo-btn {
    width: 120px;
    height: 120px;
    margin-right: 80px;
    background-color: #ef6b72;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
}

.planform-logo-wrap-basic {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.planform-logo-btn-basic {
    width: 120px;
    height: 120px;
    margin-right: 80px;
    background-color: #e50815;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
}